<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421097357772-q7pni1oamo6t7cqdvc22tc64lhve26lm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421097357772-q7pni1oamo6t7cqdvc22tc64lhve26lm</string>
	<key>API_KEY</key>
	<string>AIzaSyAIeGOEfgDGAme209wlvtC7MWu3tad6yTw</string>
	<key>GCM_SENDER_ID</key>
	<string>421097357772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prerak.eatEasy</string>
	<key>PROJECT_ID</key>
	<string>eateasy-f20d6</string>
	<key>STORAGE_BUCKET</key>
	<string>eateasy-f20d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421097357772:ios:f8b3b7bcfd57f4af0cdd69</string>
</dict>
</plist>